<!DOCTYPE html>
<html>
  <head>
    <title>luna.</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Thanks for finishing the survey! Here are your results!</h1>
    <h2>Flow</h2>
    <% flow_advice = {'spotty' => 'advice for spotty','light' => 'Congrats! You got lucky!', 'medium' => 'advice for medium', 'heavy' => 'advice for heavy', 'flood-warning' => 'advice for flood warning'} %>
    <p><%= flow_advice[params[:flow]] %></p>
    
    <h2>Cramps</h2>
    <% cramps_advice = {'zero' => 'advice for 0', 'one' => 'advice for 1'} %>
    <p><%= cramps_advice[params[:cramps]] %></p>
    
    <h2>Other Physical Maladies</h2>
    <% physical_advice = {'headache' => 'advice for headache', 'fatigue' => 'advice for fatigue', 'tender-breasts' => 'advice for tender breasts', 'muscle-aches' => 'advice for muscle aches', 'nothing' => 'advice for nothing'} %> 
    <% checked = false %>
    <% if params[:physical1] == 'headache' %>
    <% checked = true %>
    <h3>For Headaches</h3>
    <p><%= physical_advice['headache'] %></p>
    <% end %>
    <% if params[:physical2] == 'fatigue' %>
    <% checked = true %>
    <h3>For Fatigue</h3>
    <p><%= physical_advice['fatigue'] %></p>
    <% end %>
    <% if params[:physical3] == 'tender-breasts' %>
    <% checked = true %>
    <h3>For Tender Breasts</h3>
    <p><%= physical_advice['tender-breasts'] %></p>
    <% end %>
    <% if params[:physical4] == 'muscle-aches' %>
    <% checked = true %>
    <h3>For Muscle Aches</h3>
    <p><%= physical_advice['muscle-aches'] %></p>
    <% end %>
    <% if checked == false %>
    <p>You have no problems!</p>
    <% end %>
    
    <h2>Skin</h2>
    <% skin_advice = {'oily' => 'advice for oily', 'dry' => 'advice for dry', 'normal' => 'advice for normal'} %>
    <h3>For <%= params[:skin].capitalize %> Skin</h3>
    <p><%= skin_advice[params[:skin]] %></p>
    
    <h2>Digestion</h2>
    <% digestion_advice = {'bloating' => 'advice for bloating', 'nausea-vomiting' => 'advice for nausea-vomiting', 'constipation' => 'advice for constipation', 'diarrhea' => 'advice for diarrhea', 'gaseous' => 'advice for gaseous'} %>
    <% checked = false %>
    <% if params[:digestion1] == 'bloating' %>
    <% checked = true %>
    <h3>For Bloating</h3>
    <p><%= digestion_advice['bloating'] %></p>
    <% end %>
    <% if params[:digestion2] == 'nausea-vomiting' %>
    <% checked = true %>
    <h3>For Nausea Or Vomiting</h3>
    <p><%= digestion_advice['nausea-vomiting'] %></p>
    <% end %>
    <% if params[:digestion3] == 'constipation' %>
    <% checked = true %>
    <h3>For Constipation</h3>
    <p><%= digestion_advice['constipation'] %></p>
    <% end %>
    <% if params[:digestion4] == 'diarrhea' %>
    <% checked = true %>
    <h3>For Diarrhea</h3>
    <p><%= digestion_advice['diarrhea'] %></p>
    <% end %>
    <% if params[:digestion5] == 'gaseous' %>
    <% checked = true %>
    <h3>For Gas</h3>
    <p><%= digestion_advice['gaseous'] %></p>
    <% end %>
    <% if checked == false %>
    <p>You have no problems!</p>
    <% end %>
    
    <% appetite_advice = {'poor' => 'advice for poor', 'good' => 'advice for good', 'increased' => 'advice for increased', 'insatiable' => 'advice for insatiable'} %>
    <h3>For Your <%= params[:appetite].capitalize %> Appetite</h3>
    <p><%= appetite_advice[params[:appetite]] %></p>
    
    <h3>For Cravings</h3>
    <% cravings_advice = {'sweets' => 'advice for sweets', 'mild-sweet' => 'advice for mild-sweet', 'salty' => 'advice for salty', 'mild-salty' => 'advice for mild-salty', 'dairy' => 'advice for dairy', 'meat' => 'advice for meat', 'veggies-fruits' => 'advice for veggies-fruits'} %> 
    <% checked = false %>
    <% if params[:craving1] == 'sweets' %>
    <% checked = true %>
    <h4>Craving Sweets?</h4>
    <p><%= cravings_advice['sweets'] %></p>
    <% end %>
    <% if params[:craving2] == 'mild-sweet' %>
    <% checked = true %>
    <h4>Craving Mildly Sweet?</h4>
    <p><%= cravings_advice['mild-sweet'] %></p>
    <% end %>
    <% if params[:craving3] == 'salty' %>
    <% checked = true %>
    <h4>Craving Salty?</h4>
    <p><%= cravings_advice['salty'] %></p>
    <% end %>
    <% if params[:craving4] == 'mild-salty' %>
    <% checked = true %>
    <h4>Craving Mildly Salty?</h4>
    <p><%= cravings_advice['mild-salty'] %></p>
    <% end %>
    <% if params[:craving5] == 'dairy' %>
    <% checked = true %>
    <h4>Craving Dairy?</h4>
    <p><%= cravings_advice['dairy'] %></p>
    <% end %>
    <% if params[:craving6] == 'meat' %>
    <% checked = true %>
    <h4>Craving Meat?</h4>
    <p><%= cravings_advice['meat'] %></p>
    <% end %>
    <% if params[:craving7] == 'veggies-fruits' %>
    <% checked = true %>
    <h4>Craving Veggies and Fruits?</h4>
    <p><%= cravings_advice['veggies-fruits'] %></p>
    <% end %>
    <% if checked == false %>
    <p>You have no problems!</p>
    <% end %>
  </body>
</html>
