<!DOCTYPE html>
<html>
  <head>
    <title>luna.</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway:400,700" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Thanks for finishing the survey! Here are your results!</h1>
    <div id="status">
      <h2>Flow: <%= params[:flow] %></h2>
      <h2>Cramp level: <%= params[:cramps] %></h2>
      <h2>Skin: <%= params[:skin] %></h2>
      <h2>Appetite: <%= params[:appetite] %></h2>
      <h2>Craving: 
          <% if params[:craving1]=="sweet" %>
          sweet
          <% elsif params[:craving2]=="mild-sweet" %>
          mild-sweet
          <% elsif params[:craving3]=="salty" %>
          salty
          <% elsif params[:craving4]=="mild-salty" %>
          mild-salty
          <% elsif params[:craving5]=="dairy" %>
          dairy
          <% elsif params[:craving6]=="meat" %>
          meat
          <% elsif params[:craving7]=="veggies-fruits" %>
          veggies and fruits
          <% else %>
          none
          <% end %>
      </h2>
    </div>
    <h2>Flow</h2>
    <% flow_advice = {
      'spotty' => "If your period recently became spotty, there may be many reasons. Medication and low body weight can affect it and make it more irregular or spotty. Too little or too much progesterone, one of the hormones that your body produces, will also have the same effect. Talk to your doctor to see if this is a potential problem.", 
      'light' => "Congrats! You got lucky!", 
      'medium' => "Not bad! Your flow is a bother, but not that much!", 
      'heavy' => "Sometimes the start of a new cycle is so celebratory that it acts like a gift that just keeps on giving. And giving. And giving. Heavy to flood-warning periods can feel like a huge burden, but Luna’s got some ways for you that could help lighten the load.
      \r\nKind of like a one-size-fits-all hat, taking hormonal, birth control and getting an IUD could cover multiple period symptoms, regardless of whether they are being used for sexual activity or not. Talk to your doctor if these are good fits for you.
      \nVitamin to the Rescue: Vitamin A. According the Bustle, studies show that incorporating Vitamin A can decrease menstrual flow. If not the supplement itself, you can get your fill through carrots, sweet potato, squash, and pumpkin (think: orange veggies!).
      \nFor students, ever notice that periods in the summer are just more pleasant than any other time in the year? Maybe that’s just Luna, but reducing stress makes a huge difference in your cycle. Worry and tension can cause a buildup in the uterine lining, according to WebMD. Yoga, meditation, light exercise, and keeping in check with your mental health can make a real difference.", 
      'flood-warning' => "Sometimes the start of a new cycle is so celebratory that it acts like a gift that just keeps on giving. And giving. And giving. Heavy to flood-warning periods can feel like a huge burden, but Luna’s got some ways for you that could help lighten the load. (Please note, if your flow isn’t figuratively but almost quite literally “Flood-warning,” you may need to consult a doctor immediately.)
      \nKind of like a one-size-fits-all hat, taking hormonal, birth control and getting an IUD could cover multiple period symptoms, regardless of whether they are being used for sexual activity or not. Talk to your doctor if these are good fits for you.
      \nVitamin to the Rescue: Vitamin A. According the Bustle, studies show that incorporating Vitamin A can decrease menstrual flow. If not the supplement itself, you can get your fill through carrots, sweet potato, squash, and pumpkin (think: orange veggies!).
      \nFor students, ever notice that periods in the summer are just more pleasant than any other time in the year? Maybe that’s just Luna, but reducing stress makes a huge difference in your cycle. Worry and tension can cause a buildup in the uterine lining, according to WebMD. Yoga, meditation, light exercise, and keeping in check with your mental health can make a real difference."
    } %>
    <div><p><%= flow_advice[params[:flow]] %></p></div>
    
    <h2>Cramps</h2>
    <% cramps_advice = {'zero' => "You're one lucky girl!", 
      'other' => "If there’s one thing Luna ain’t here for, it’s those darn cramps. They’re awful, debilitating, and the ACTUAL worse. They’re caused by prostaglandins, fatty acids and hormones that can cause cramps and other problems when they enter the bloodstream. They participate in the contractions of muscle and the inflammatory process, hence the intense cramps. But fret not, for we have some new, shiny weapons that you can add to your arsenal and hopefully defeat your cramps.\nKind of like a one-size-fits-all hat, taking hormonal, birth control and getting an IUD could cover multiple period symptoms, regardless of whether they are being used for sexual activity or not. Talk to your doctor if these are good fits for you.\nTo effectively use NSAIDs (nonsteroidal anti-inflammatory drugs) like ibuprofen and naproxen, take them before or immediately after you get your period to block the signals of pain that activated pain receptors are sending to your brain.\nExercise. This one is pretty hit or miss, because some of us sisters need to stay in that fetal position for the whole day. But jogging, pilates, kickboxing, or just generally staying in motion can lessen the brunt of the cramps. Don’t overexert yourself on your period, but working out has been proven to increase endorphins (happy hormones!) and could really make the whole process a lot more pleasant.\nThere are a few key foods to avoid during your period. As much as you might crave an order of large fries, put a stopper on that sodium! Excess sodium can worsen cramps, as well as caffeine consumption. Try cutting out the chips and coffee and see if it lessens the agitation. Your uterus (and more!) might just thank you.\nIt’s getting hot in here! So take of all your clo– actually, keep the clothes on, but throw on some more heat. Heat relaxes and soothes your constricting muscles. A heating pad applied directly to your abdomen can make a world of a difference. You can make your own with some rice and a pillowcase or even buy ones with essential oils for further relaxation (Origins sells a great one!).\nOld Wives Tales Might Not Just Be Fiction After All: Chinese grandmas are known to be anti-cold anything, but try taking their advice and stay away from the ice cubes during your period. According to NDTV Health, “...the Health Practitioner and Macrobiotic Health Coach, Shilpa Arora [says] 'While you are on your period, you should avoid drinking cold water and eating cold foods as they worsen menstrual cramps. The muscles in the ovary and the vaginal walls tense up. These muscles cannot stretch further, which is why it leads to discomfort.’\nIf you’ve exhausted the entire list of period cramp treatments and see no signs of relief, please see your OB-GYN to make sure you don’t have a serious condition."
    } %>
    <% if params[:cramps] == 'zero' %>
    <div><p><%= cramps_advice['zero'] %></p></div>
    <% else %>
    <div><p><%= cramps_advice['other'] %></p></div>
    <% end %>
    
    <h2>Other Physical Maladies</h2>
    <% physical_advice = {
      'headache' => "A nasty headache or migraine during your period can make it feel like Aunt Flo has come a-knockin’ directly on your noggin. Period-induced headaches are due to hormonal fluctuations, particularly drops in estrogen and the influx of prostaglandins just before the cycle starts.Ibuprofen is a safe bet to alleviate tension, but if you’re already taking some to combat cramps, here are some other solutions: \nTemporary fixes would be applying ice to the areas of your headache or migraine. According to Health, some people use caffeine. But caffeine is tricky, because it can worsen period cramps. So pour up the coffee accordingly.", 
      'fatigue' => 'You may be anemic! Check w/ doctor and see if you need to up your iron intake.', 
      'tender-breasts' => 'Lowering caffeine intake is a preventative measure for tender breasts. Try it during your next cycle!', 
      'muscle-aches' => "At that time of the month, the back pain can make you feel like you’ve switched bodies with an eighty-year-old lady. That carried bricks on her back for eighty years. If you find you’re aching all over, take some time to treat those sore and aching muscles.\nTake a hot bath. Immerse in Epsom salts and other bath goodies to alleviate and loosen up those muscles. A community contributor on Buzzfeed also shared that using a textured, plastic massage mat can both treat back cramps and back pain. She uses a Spoonk mat in particular, and it seems like those spiky pointers really do the trick!", 
    } %> 
    <% checked = false %>
    <% if params[:physical1] == 'headache' %>
    <% checked = true %>
    <h3>For Headaches</h3>
    <div><p><%= physical_advice['headache'] %></p></div>
    <% end %>
    <% if params[:physical2] == 'fatigue' %>
    <% checked = true %>
    <h3>For Fatigue</h3>
    <div><p><%= physical_advice['fatigue'] %></p></div>
    <% end %>
    <% if params[:physical3] == 'tender-breasts' %>
    <% checked = true %>
    <h3>For Tender Breasts</h3>
    <div><p><%= physical_advice['tender-breasts'] %></p></div>
    <% end %>
    <% if params[:physical4] == 'muscle-aches' %>
    <% checked = true %>
    <h3>For Muscle Aches</h3>
    <div><p><%= physical_advice['muscle-aches'] %></p></div>
    <% end %>
    <% if checked == false %>
    <div><p>It seems like you're good here!</p></div>
    <% end %>
    
    <h2>Skin</h2>
    <% skin_advice = {
      'oily' => 'advice for oily', 
      'dry' => 'advice for dry', 
      'normal' => 'advice for normal'
    } %>
    <h3>For <%= params[:skin].capitalize %> Skin</h3>
    <div><p><%= skin_advice[params[:skin]] %></p></div>
    
    <h3>Acne</h3>
    <% acne_advice = {
      'u-zone' => 'advice for u-zone',
      't-zone' => "advice for t-zone",
      'chest-arms' => "advice for chest-arms",
      'back' => "advice for back"
    } %>
    <% checked = false %>
    <% if params[:acne1] == 'u-zone' %>
    <% checked = true %>
    <h3>Acne in Your U-Zone?</h3>
    <div><p><%= acne_advice['u-zone'] %></p></div>
    <% end %>
    <% if params[:acne2] == 't-zone' %>
    <% checked = true %>
    <h3>Acne in Your T-Zone?</h3>
    <div><p><%= acne_advice['t-zone'] %></p></div>
    <% end %>
    <% if params[:acne3] == 'chest-arms' %>
    <% checked = true %>
    <h3>Acne on Your Chest or Arms?</h3>
    <div><p><%= acne_advice['chest-arms'] %></p></div>
    <% end %>
    <% if params[:acne4] == 'back' %>
    <% checked = true %>
    <h3>Acne on Your Back?</h3>
    <div><p><%= acne_advice['back'] %></p></div>
    <% end %>
    <% if checked == false %>
    <div><p>Your skin is totally clear!</p></div>
    
    <h2>Digestion</h2>
    <% digestion_advice = {
      'bloating' => 'advice for bloating', 
      'nausea-vomiting' => "There is nothing worse than trying to stomach a painkiller to treat those intense cramps, but those pills won’t work if your lunch is threatening to make a reappearance. Trust us, Luna knows. It’s not much better when your stomach is in a state of unease the entire day, but be selective with you eat to put your squabbly stomach to rest.\nEat small meals to limit the feeling of needing to vomit, but make sure that you keep your blood sugar steady to avoid any lightheadedness. Stick to bland foods (like the BRAT diet!) if you know your stomach gets overwhelmed by strong flavors and tastes on your period.Try to shake off any nausea with plenty of fresh air and moderate exercise for 30 minutes.\nWhat’s the tea, sis? Steeping ginger, chamomile, and peppermint can seriously calm a stomach that won’t take anything else. And if the tea today ISN’T good, aromatherapy is another way to intake these herbs through smell. Mixing these essential oils in a diffuser could help with both migraines and nausea.\nVitamins to the rescue: try Vitamin B-6. Healthline also includes that a study shows that B-6 combat nausea and vomiting, as doctors ‘suggest taking between 50 and 100 milligrams of vitamin B-6 daily.’\nLuna loves: ginger! Whether it be ginger in root, candy, or ale form, healthline reports that the herb has been studied to settle upset stomachs.", 
      'constipation' => 'advice for constipation', 
      'diarrhea' => 'advice for diarrhea', 
      'gaseous' => 'advice for gaseous'
    } %>
    <% checked = false %>
    <% if params[:digestion1] == 'bloating' %>
    <% checked = true %>
    <h3>For Bloating</h3>
    <div><p><%= digestion_advice['bloating'] %></p></div>
    <% end %>
    <% if params[:digestion2] == 'nausea-vomiting' %>
    <% checked = true %>
    <h3>For Nausea Or Vomiting</h3>
    <div><p><%= digestion_advice['nausea-vomiting'] %></p></div>
    <% end %>
    <% if params[:digestion3] == 'constipation' %>
    <% checked = true %>
    <h3>For Constipation</h3>
    <div><p><%= digestion_advice['constipation'] %></p></div>
    <% end %>
    <% if params[:digestion4] == 'diarrhea' %>
    <% checked = true %>
    <h3>For Diarrhea</h3>
    <div><p><%= digestion_advice['diarrhea'] %></p></div>
    <% end %>
    <% if params[:digestion5] == 'gaseous' %>
    <% checked = true %>
    <h3>For Gas</h3>
    <div><p><%= digestion_advice['gaseous'] %></p></div>
    <% end %>
    <% if checked == false %>
    <div><p>You have no problems!</p></div>
    <% end %>
    
    <% appetite_advice = {
      'poor' => 'advice for poor', 
      'good' => 'advice for good', 
      'increased' => 'Don’t feel angry or insecure, this is totally normal, since your body needs a lot of extra energy during this time! Eat complex carbs and foods with a lot of essential fatty acids to stay full longer. Avoid processed sugar, salt, and fat. You can also eat smaller meals throughout the day to keep your blood sugar steady. Getting exercise and taking supplements, like a multivitamin, will also help you beat food cravings!'
    } %>
    <h3>For Your <%= params[:appetite].capitalize %> Appetite</h3>
    <div><p><%= appetite_advice[params[:appetite]] %></p></div>
    
    <h3>For Cravings</h3>
    <% cravings_advice = {
      'sweets' => 'advice for sweets', 
      'mild-sweet' => 'advice for mild-sweet', 
      'salty' => 'advice for salty', 
      'mild-salty' => 'advice for mild-salty', 
      'dairy' => 'advice for dairy', 
      'meat' => 'advice for meat', 
      'veggies-fruits' => 'advice for veggies-fruits'
    } %> 
    <% checked = false %>
    <% if params[:craving1] == 'sweets' %>
    <% checked = true %>
    <h4>Craving Sweets?</h4>
    <div><p><%= cravings_advice['sweets'] %></p></div>
    <% end %>
    <% if params[:craving2] == 'mild-sweet' %>
    <% checked = true %>
    <h4>Craving Mildly Sweet?</h4>
    <div><p><%= cravings_advice['mild-sweet'] %></p></div>
    <% end %>
    <% if params[:craving3] == 'salty' %>
    <% checked = true %>
    <h4>Craving Salty?</h4>
    <div><p><%= cravings_advice['salty'] %></p></div>
    <% end %>
    <% if params[:craving4] == 'mild-salty' %>
    <% checked = true %>
    <h4>Craving Mildly Salty?</h4>
    <div><p><%= cravings_advice['mild-salty'] %></p></div>
    <% end %>
    <% if params[:craving5] == 'dairy' %>
    <% checked = true %>
    <h4>Craving Dairy?</h4>
    <div><p><%= cravings_advice['dairy'] %></p></div>
    <% end %>
    <% if params[:craving6] == 'meat' %>
    <% checked = true %>
    <h4>Craving Meat?</h4>
    <div><p><%= cravings_advice['meat'] %></p></div>
    <% end %>
    <% if params[:craving7] == 'veggies-fruits' %>
    <% checked = true %>
    <h4>Craving Veggies and Fruits?</h4>
    <div><p><%= cravings_advice['veggies-fruits'] %></p></div>
    <% end %>
    <% if checked == false %>
    <div><p>You have no problems!</p></div>
    <% end %>
  </body>
</html>
